@page
@model buddy_up.Pages.Students.CreateModel

@{
    ViewData["Title"] = "Create";
}

<style>
    .table-spacing {
        border-spacing: 15px;
        border-collapse: separate;
    }
</style>

<h1 class="pb-3">Create Student</h1>

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Student.FirstName" class="control-label"></label>
                <input asp-for="Student.FirstName" class="form-control" />
                <span asp-validation-for="Student.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.LastName" class="control-label"></label>
                <input asp-for="Student.LastName" class="form-control" />
                <span asp-validation-for="Student.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.Address" class="control-label"></label>
                <input asp-for="Student.Address" class="form-control" />
                <span asp-validation-for="Student.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.Country" class="control-label"></label>
                <select asp-for="Student.CountryId" class="form-control" asp-items="@Model.CountryNameSL">
                    <option value="">-- Select Country --</option>
                </select>
                <span asp-validation-for="Student.CountryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.YearOfStudy" class="control-label"></label>
                <input asp-for="Student.YearOfStudy" class="form-control" />
                <span asp-validation-for="Student.YearOfStudy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.EmailAddress" class="control-label"></label>
                <input asp-for="Student.EmailAddress" class="form-control" />
                <span asp-validation-for="Student.EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.DateOfBirth" class="control-label"></label>
                <input asp-for="Student.DateOfBirth" class="form-control" />
                <span asp-validation-for="Student.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.TelephoneNumber" class="control-label"></label>
                <input asp-for="Student.TelephoneNumber" class="form-control" />
                <span asp-validation-for="Student.TelephoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.Course" class="control-label"></label>
                <select asp-for="Student.CourseId" class="form-control" asp-items="@Model.CourseNameSL">
                    <option value="">-- Select Course --</option>
                </select>
                <span asp-validation-for="Student.CourseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.StudentClubMemberships" class="control-label"></label>
                <table class="table-spacing">
                    @{
                        int cnt = 0;

                        foreach (var club in Model.AssignedClubDataList)
                        {
                            if (cnt++ % 3 == 0)
                            {
                                @:<tr>
                                }
                                @:<td>
                                    <input type="checkbox"
                                           name="selectedClubs"
                                           value="@club.ClubID"
                                           @(Html.Raw(club.Assigned ? "checked=\"checked\"" : "")) />
                                    @:  @club.Name
                                @:</td>
                            }
                        @:</tr>
                    }
                </table>
            </div>
            <div class="form-group">
                <label class="control-label">Buddy</label>
                <select asp-for="Student" class="form-control" asp-items="@Model.StudentNameSL" name="buddy">
                    <option value="">-- Select Buddy --</option>
                </select>
            </div>


            <div class="form-group d-flex justify-content-end">
                <a asp-page="Index" class="btn">Back to List</a>
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
