@page
@model buddy_up.Pages.Students.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<style>
    .underline {
        text-decoration: underline;
    }
</style>
<h1 class="pb-3">Student Details</h1>

<div class="row">
    <div class="col-md-6">
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Student.FirstName)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Student.FirstName)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Student.LastName)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Student.LastName)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Student.Address)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Student.Address)
                @Html.DisplayFor(model => model.Student.Country.Name)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Student.YearOfStudy)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Student.YearOfStudy)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Student.EmailAddress)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Student.EmailAddress)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Student.DateOfBirth)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Student.DateOfBirth)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Student.TelephoneNumber)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Student.TelephoneNumber)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Student.Course)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Student.Course.Name)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Student.StudentClubMemberships)
            </dt>
            <dd class="col-sm-8">
                @foreach (var club in Model.Student.StudentClubMemberships)
                {
                    <div> @club.Club.Name </div>
                }
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.BuddyMatch[0].BuddyMatchID)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Buddy.FullName)
            </dd>
        </dl>
        <div class="form-group d-flex justify-content-end">
            <a asp-page="./Index" class="btn underline">Back to List</a>
            <a asp-page="./Edit" asp-route-id="@Model.Student.StudentID" class="btn btn-primary">Edit</a>
        </div>
    </div>
    
</div>

