@page
@model buddy_up.Pages.Students.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.YearOfStudy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.YearOfStudy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.EmailAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.EmailAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.TelephoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.TelephoneNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Student.StudentId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
