@page
@model buddy_up.Pages.Students.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort">
                    @Html.DisplayNameFor(model => model.Student[0].FullName)
                    </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.CourseSort">
                    @Html.DisplayNameFor(model => model.Student[0].CourseId.Name)
                    </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].StudentClubMemberships)
            </th>
            <th>
                Has Buddy?
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Student) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseId.Name)
            </td>
            <td>
                @foreach (var club in item.StudentClubMemberships) 
                { 
                    @club.Club.Name 
                }
            </td>
            <td>
                @foreach (var entry in Model.BuddyMatch) {
                    @if (entry.MentorId.StudentID == item.StudentID) { <p>Yes</p> }
                    else if (entry.MenteeId.StudentID == item.StudentID) { <p>Yes</p> }
                    else { <p>No</p> }
                }
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.StudentID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.StudentID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.StudentID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
