@page
@model BuddySearchModel
@{
    ViewData["Title"] = "Buddy Search";
}

<style type="text/css">
    .icon {
        color: #000;
        font-size: 20px;
    }

    .icon-green {
        color: #0dd95b;
        font-size: 20px;
    }

    .icon-red {
        color: #e80909;
        font-size: 20px;
    }
    .button-end {
        display: flex;
        justify-content: flex-end;
    }
    .underline {
        text-decoration: underline;
    }
</style>

<h1>@ViewData["Title"]</h1>

<p>Use this page to find a buddy!</p>

<form asp-page="./Index" method="get">

    <div class="row">
        <div class="col-md-6">
            <div class="form-actions no-color">

                <label>Select Filter</label>
                <select class="form-control" name="OtherFilter">
                    <option value="">Please select...</option>
                    <option value="name">Name</option>
                    <option value="course">Course</option>
                    <option value="club">Club</option>
                </select>
                <br />
                <div class="form-group">
                    <label>
                        Filter Search
                    </label>
                    <input type="text" name="SearchString" value="@Model.CurrentFilter" class="form-control" />
                </div>
                <div class="form-group button-end">
                    <a asp-page="/BuddySearch" class="btn underline">Back to full List</a>
                    <input type="submit" value="Search" class="btn btn-primary" />
                </div>

                </div>
            </div>
    </div>
    
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Student[0].FullName)
                    <a asp-page="/BuddySearch" asp-route-sortOrder="@Model.NameSort" title="Sort" class="text-right">
                        <i class="fas fa-sort icon"></i>
                    </a>
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Student[0].Course.Name)
                    <a asp-page="/BuddySearch" asp-route-sortOrder="@Model.CourseSort" title="Sort">
                        <i class="fas fa-sort icon"></i>
                    </a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Student[0].StudentClubMemberships)
                </th>
                <th>
                    Has Buddy?
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.Student)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Course.Name)
                    </td>
                    <td>
                        @foreach (var club in item.StudentClubMemberships)
                        {
                            <div> @club.Club.Name </div>
                        }
                    </td>
                    <td class="text-center">
                        @{
                            foreach (var entry in Model.BuddyMatch)
                            {
                                if (entry.Mentor != null && entry.Mentee != null)

                                {
                                    if (entry.Mentor.StudentID == item.StudentID || entry.Mentee.StudentID == item.StudentID)
                                    {
                                        <i class="fas fa-check icon-green"></i>
                                    }
                                    else
                                    {
                                        <i class="fas fa-times icon-red"></i>
                                    }
                                }
                            }
                        }
                    </td>
                    <td class="text-center">
                        <a asp-page="Students/Details" asp-route-id="@item.StudentID" title="Details"><i class="fas fa-info-circle icon"></i></a>
                        <a asp-page="Students/Edit" asp-route-id="@item.StudentID" title="Edit"><i class="fas fa-pencil-alt icon pl-2"></i></a>
                        <a asp-page="Students/Delete" asp-route-id="@item.StudentID" title="Delete"><i class="fas fa-trash-alt icon pl-2"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>
